
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
/************NAVBAR**************/

body {
    font-family: "Roboto condesed" sans-serif;
}

:root {
    --primary-white: #fff;
    --primary-orange: #f9ab00;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
}

.header-image{
  max-height: 100px;
}

nav a.nav-link {
    font-weight: 400;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-size: 14px;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav>li>a {
    margin: 0px 10px;
    color: var(--primary-white) !important;
    border-top: 0.1875rem solid var(--primary-dark);
}

/* .navbar-nav>li>a.active, */
.navbar-nav>li>a:focus {
    border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav>li>a:hover {
    border-top: 0.1875rem solid var(--primary-orange);
}

/************HOME**************/

.slide{
    max-width: 1000px;
}

.page-content{
    max-width: 1000px;
}
.image-card{
    max-width: 1000px;
    margin: 2px auto 50px auto;
}

.imageHeight{
    height: 100px !important;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  

  .upload{
    display: inline-block;
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }